<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset = "UTF-8">
   <title>Créer un compte</title>
</head>
<body>
    <h2>Créer un compte</h2>
    <form action="" method="post">
            <input type="text"  name="prenom" placeholder= "Prénom"  required/><br>
            <input type="text" name="nom" placeholder= "Nom"  required/><br>
            <input type="text" name="e_mail" placeholder= "E-mail"  required/><br>
            <input type="password" name="mot_de_passe" placeholder= "Mot de passee"  required/><br>
            <textarea name="description" placeholder= "Description" >Description... </textarea><br>
            <input type="submit" value="connexion"><br>
    </form>
</body>
</html>