<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset = "UTF-8">
   <title>Créer un compte</title>
</head>
<body>
    <h2>Les régions</h2>
    <form action="" method="POST">
        <label for="pet-select">Choose a pet:</label>
         <select name="pets" id="pet-select">
            <option value="casa" selected>Casablanca-settat</option>
            <option value="marrakech">Marrakech</option>
            <option value="benimellae">Beni mellal-Khenifra</option>
            <option value="tanger">tanger</option>
            <option value="oreintal">Oreintal</option>
            <option value="souss">Souss-masa</option>
            <option value="daraa">Daraa</option>
            <option value="fes">Fes</option>
            <option value="rabat">Rabat</option>
            <input type="submit" value="Sub"/>
        </select>
       
    </form>
</body>
</html>